<ion-header>
  <ion-navbar>
    <ion-title>
      Mon profil
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveProfile()" [disabled]="!profilForm.valid">
        Sauvegarder
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

    <ion-item>
      <ion-avatar>
        <img id="image" class="item-avatar" (click)="presentActionSheetPicture()" [src]="user.photoUrl" />
      </ion-avatar>
    </ion-item>

    <form [formGroup]="profilForm">
      <ion-item [ngClass]="{'error-border':!profilForm.controls.username.valid && profilForm.controls.username.touched}">
        <ion-label color="primary">Nom utilisateur</ion-label>
        <ion-input formControlName="username" clearInput placeholder="Saisir votre nom d'utilisateur"></ion-input>
      </ion-item>
      <ion-item class="msgErreur" *ngIf="profilForm.controls.username.hasError('required') && profilForm.controls.username.touched">
        Le pseudo doit être renseigné.
      </ion-item>

      <ion-item [ngClass]="{'error-border':!profilForm.controls.firstname.valid && profilForm.controls.firstname.touched}">
        <ion-label color="primary">Prenom</ion-label>
        <ion-input formControlName="firstname" clearInput placeholder="Saisir votre nom"></ion-input>
      </ion-item>
      <ion-item class="msgErreur" *ngIf="profilForm.controls.firstname.hasError('required') && profilForm.controls.firstname.touched">
        Votre prénom doit être renseigné.
      </ion-item>

      <ion-item [ngClass]="{'error-border':!profilForm.controls.lastname.valid && profilForm.controls.lastname.touched}">
        <ion-label color="primary">Nom</ion-label>
        <ion-input formControlName="lastname" clearInput placeholder="Saisir votre prenom"></ion-input>
      </ion-item>
      <ion-item class="msgErreur" *ngIf="profilForm.controls.lastname.hasError('required') && profilForm.controls.lastname.touched">
        Votre nom de famille doit être renseigné.
      </ion-item>
    </form>

    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input readonly [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <ion-item *ngIf="!isInitProfile">
      <button ion-button item-end (click)="logout()">Déconnexion</button>
    </ion-item>

</ion-content>
