<ion-header>
  <ion-navbar>
    <ion-title>
      Mon profil
    </ion-title>
    <ion-buttons end *ngIf="isChanged">
      <button ion-button (click)="saveProfile()">
        Sauvegarder
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list no-lines>

    <ion-item>
      <ion-avatar>
        <img id="image" class="item-avatar" (click)="presentActionSheetPicture()" [src]="user.photoUrl" />
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Nom utilisateur</ion-label>
      <ion-input id="username" placeholder="Saisir votre nom d'utilisateur" [(ngModel)]="user.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Prenom</ion-label>
      <ion-input id="firstname" placeholder="Saisir votre nom" [(ngModel)]="user.firstname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Nom</ion-label>
      <ion-input id="lastname" placeholder="Saisir votre prenom" [(ngModel)]="user.lastname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary">Email</ion-label>
      <ion-input readonly [(ngModel)]="user.email"></ion-input>
    </ion-item>

    <button *ngIf="!isInitProfile" ion-item [navPush]="carsPage">
      <ion-icon name="car" item-start color="primary"></ion-icon>
      Mes voitures
    </button>

    <ion-item *ngIf="!isInitProfile">
      <button ion-button item-end (click)="logout()">Déconnexion</button>
    </ion-item>
  </ion-list>

</ion-content>
