page-home {

  ion-grid {
    height: 100%;

    .rowLabel {
      height: 80%;
    }

    .rowButton {
      height: 10%;
    }
  }

  .buttonHome {
    position: relative;
    background: rgba(255,255,255,0.5);
    color: #323232;
    font-weight: bold;
  }

  .mainLabel {
    font-size: x-large;
    font-family: Jokerman, serif;
    text-align: center;
    color: #f4f4f4;
  }

  .backgroundImage{
    background: url("../../assets/imgs/background.jpg") center;
    background-size: cover;
  }

}
