page-detail-journey {
  .driver {
    font-size: large;
  }

  .passengers_img {
    margin: auto;
  }

  .infoJourney {
    font-size: medium;
    font-weight: bold;
  }

  .detailButton {
    text-align: center;
  }
}
